body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    color: $color-black;
}
.head-top {
    color: green;
}
@include media-breakpoint-up(xl) {
    .container {
        max-width: 1140px;
    }
}

section {
    padding: 50px 0;
    @include media-breakpoint-down(md) {
        padding: 15px 0;
    }
}
ul {
    padding: 0;
    li {
        list-style: none;
    }
}
.no-padding {
    padding: 0;
}

.section-title {
    position: relative;
    h1, h2, h3, h4, h5 {
        margin-bottom: 35px;
    }
    &:after {
        content: "";
        width: 188px;
        height: 188px;
        background: url('../images/icon-title.png') no-repeat center center;
        position: absolute;
        top: -70px;
        left: 50%;
        margin-left: -94px;
    }
}

.button-more {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid $color-black;
    &.white {
        border: 2px solid $color-white;
    }
}
img {
    max-width: 100%;
}
.info {
    &__box {
        margin: 55px 0;
        padding: 32px 0;
        border: 1px solid $color-grayLight;
    }
}